#sectionTitle{
   background-image: url("/assets/images/billard-entete.png");
   background-size: cover;
   padding: 6rem 5rem;
   color: white;
   height: auto;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

#sectionTitle h1{
    font-size: 50px;
    transform: rotate(-368deg);
    margin-bottom: 50px;
    margin-top: 15px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#sectionTitle p{
    width: 25%;
    text-align: center;
}