/* HERO */
.hero {
    background-image: url('/assets/images/homepage-hero.png');
    color: #fff;
    padding: 6rem 10vw;
    background-size: cover;
    background-position: center;
    position: relative
}

.hero>h1 {
    font-size: 2.2em;
}

.hero>h1>span {
    font-family: Kaushan Script;
    font-weight: 500;
}

.hero>p {
    margin: 2rem 0;
    line-height: 25px;
    font-size: 1.1em;
}

.hero>img {
    position: absolute;
    right: 10vw;
    bottom: 1rem;
    width: 12rem;
}

/* CARDS LIST */
.cardslist {
    margin-top: 5rem;
    padding: 0 10vw;
}

.cardslist>h2,
.cardslist>h3 {
    text-align: center;
    color: var(--secondary-color);
}

.cardslist>h3 {
    margin-bottom: 3rem;
    font-weight: 400;
    margin-top: 0.5rem;
    font-style: italic;
}

.cardslist>h3>span {
    font-family: 'Kaushan Script';
}

.cardslist>.cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.cardslist>.cards>.card {
    background-color: #7c7c7c21;
    text-align: center;
    border-radius: 20px;
    width: 20rem;
}

.cardslist>.cards>.card>img {
    width: 100%;
}

.cardslist>.cards>.card>h4 {
    font-size: 1.3em;
    text-align: center;
    margin-top: 1rem;
    color: var(--secondary-color);
}

.cardslist>.cards>.card>p {
    padding: 0 2rem;
    margin: 1rem 0;
}

.cardslist>.cards>.card>.btn {
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.spacer {
    width: 20rem;
    height: 1px;
    background-color: var(--secondary-color);
    margin: 4rem auto;

}

.contact {
    background: rgb(3, 56, 73);
    background: linear-gradient(180deg, rgba(3, 56, 73, 0.07046568627450978) 0%, rgba(3, 56, 73, 0.07) 60%, rgba(3, 56, 73, 0.2) 100%);
    padding: 4rem 0;
}

.contact>h2,
.contact>h3 {
    text-align: center;
    color: var(--secondary-color);
}


.contact>h3 {
    margin-bottom: 3rem;
    font-weight: 400;
    margin-top: 0.5rem;
    font-style: italic;
}

.contact>.card-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: fit-content;
    margin: auto;
    padding: 4rem 5rem;
    background-color: #fff;
}

.contact>.card-form>a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.contact>.card-form>form {
    border-top: 1px var(--secondary-color) solid;
    margin-top: 4rem;
    padding-top: 3rem;
}

.contact>.card-form>form input,
.contact>.card-form>form textarea {
    border: none;
    background-color: #03374913;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.contact>.card-form>form .inline-group {
    display: flex;
    gap: 1rem;
}

.contact>.card-form>form>textarea {
    height: 7rem;
}

.contact>.card-form>form>button {
    margin: auto;
    display: block
}